/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 22, 2016, 9:57:13 AM
    Author     : apprentice
*/
.navbar-inverse {
    background-color: #B22222;
}

.navbar{
    font-family: 'Cabin', sans-serif;
    margin-bottom:  -.5em;
    position: fixed;
    width: 100%;
    top: 0px;
}

h1{
    font-family: 'Cabin', sans-serif;
}

a{
    font-family: 'Cabin', sans-serif;
}
p{
    font-family: 'Cabin', sans-serif;
}
.navbar-item {
    color: white;
}

.bg-white{
    border: gray thin solid;
    background: white;
}

#add-category-form {
    margin:auto;
}
#add-category-validation-errors {
    font-weight: bold;
    min-height: 20px;
    text-align: center;
}
.uploaded-image {
    max-height: 40px;
    width: auto;
}
.selected-image {
    border: 2px #206ea1 solid;
}

#insert-tags {
    margin-left: 10px;
    margin-right: 10px;
}

body{
    background-color: #D6E2EA;
}

#category-div{
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 2em;
    background: white;
    border-radius: 5px;
    border: #D9EBF4 thin solid;
}

#latest-posts-div{
    margin-left: 2em;
    margin-top: -1.5em;
    background: white;
    border-radius: 5px;
    border: #D9EBF4 thin solid;
}

.script-upload{

    margin-top: 5em;
    background: white; 
    border-radius: 5px;
    border: #D9EBF4 thin solid;
    padding-bottom: 10px;
}

#latest-head{

    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    margin-bottom: -1em;

}

#cat-head{

    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    margin-bottom: -1em;

}

#tag-head{

    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    margin-bottom: -1em;

}

#tag-div{
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    margin-left: 2em;
    margin-top: 2em;
    background: white;
    border-radius: 5px;
    border: #D9EBF4 thin solid;
}
.login{

    margin-top: 1.5em;
    background: white; 
    border-radius: 5px;
    border: #D9EBF4 thin solid;
    padding-bottom: 10px;
}

#twitter {
    margin-top: 2em;
    margin-left: 2em;
    background: white;
    border-radius: 5px;
    border: #CDDEB1 thin solid;
}
#blog-content{
    width: 75%;
    
}

#viewing-by{
    margin-left: 5em;
    text-decoration: underline;
    margin-top: 6em;
    margin-bottom: -3em; 
}

#blog-post-div{

    margin-top: 3em;
    background: white;
    border: #D9EBF4 thin solid;
    border-radius: 5px;
    padding-left: 1em;
    padding-right: 1em;
}

a{
    color: gray;
}

#last-page{
    margin-top: 1em;
    border: #D9EBF4 thin solid;
    font-family: 'Cabin', sans-serif;
    border-radius: 50px 10px 50px 10px;
}

#next-page{
    margin-top: 1em;
    border: #D9EBF4 thin solid;
    font-family: 'Cabin', sans-serif;
    border-radius: 50px 10px 50px 10px;
}

#side-bar{
    margin-top: 2em;
    border-width: 2px;
}

#blog-content {
    padding-top : 20px;
    border-top: solid 1px #f1f1f1;
    padding-bottom: 20px;
    border-bottom: solid 1px #f1f1f1;
}
.tag-link {
    background-color: #D6E2EA;
    border: solid 1px #f1f1f1;
}
.blog-footer div {
    background-color: white;
    padding-bottom: 5em;
}

#category-div{

    max-height: 15em;
    overflow-y: auto;

}

#tag-div{

    max-height: 15em;
    overflow-y: auto;

}

#film-head{
    background-image:url('film.jpg');
    height: 20px;
    background-repeat: repeat-x;
    width: 100%;
    position: absolute;
}

.rrssb-buttons{

    max-width: 35em;

}

.upload-button{
    margin-top: 1em;
}

.script-upload{
    margin-top: 4.5em;
}

#script-head{

    padding-top: 1em;
    font-size: 18px;

}
