<?xml version="1.0" encoding="UTF-8"?>


<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    
    <b:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
    
    
    <http pattern="/authenticate/login" security="none" />
    <http pattern="/css/**" security="none" />
    <http pattern="/js/**" security="none" />
    <http pattern="/img/**" security="none" />
    <http pattern="/fonts/**" security="none" />
    <http pattern="/*" security="none" />
    
    <http pattern="/admin/user/**" security="none" />
    <http pattern="/user/**" security="none" />
    <http pattern="/blog/*" security="none" />
    <http pattern="/blog/category/**" security="none" />
    <http pattern="/blog/show/**" security="none" />
    <http pattern="/upload/**" security="none" />
    <http pattern="/blog/author/**" security="none" />
    <http pattern="/blog/page/**" security="none" />
    
    <http auto-config="true" use-expressions="false">
        <csrf disabled="true" />
        <form-login 
            login-processing-url="/authenticate/j_spring_security_check"
            login-page="/authenticate/login"
            authentication-failure-url="/authenticate/login?login_error=1"
       
        />
        
        <intercept-url pattern="/admin/" access="ROLE_READ_POST" />
        <intercept-url pattern="/blog/writeBlog" access="ROLE_CREATE_POST" />
        <intercept-url pattern="/blog/create-blog-post/" access="ROLE_CREATE_POST" />
        <intercept-url pattern="/blog/edit/*" access="ROLE_UPDATE_POST" />
        <intercept-url pattern="/blog/editsubmit" access="ROLE_UPDATE_POST" />
        <intercept-url pattern="/blog/" access="ROLE_UPDATE_POST" />
        <intercept-url pattern="/blog/grab/*" access="ROLE_UPDATE_POST" />
        <intercept-url pattern="/blog/*" access="ROLE_DELETE_POST" />
        
        <intercept-url pattern="/admin/page/" access="ROLE_READ_PAGE" />
        <intercept-url pattern="/admin/page/create/" access="ROLE_CREATE_PAGE" />
        <intercept-url pattern="/admin/page/edit/*" access="ROLE_UPDATE_PAGE" />
        <intercept-url pattern="/admin/page/update/" access="ROLE_UPDATE_PAGE" />
        <intercept-url pattern="/admin/page/delete/*" access="ROLE_DELETE_PAGE" />
        
        <intercept-url pattern="/admin/user/" access="ROLE_READ_USER" />
        <intercept-url pattern="/admin/user/create/" access="ROLE_CREATE_USER" />
        <intercept-url pattern="/admin/user/*" access="ROLE_UPDATE_USER" />
        <intercept-url pattern="/admin/user/update/" access="ROLE_UPDATE_USER" />
        <intercept-url pattern="/admin/user/delete/*" access="ROLE_DELETE_USER" />
        
        <intercept-url pattern="/admin/category/" access="ROLE_READ_CATEGORY" />
        <intercept-url pattern="/admin/category/create/" access="ROLE_CREATE_CATEGORY" />
        <intercept-url pattern="/admin/category/*" access="ROLE_UPDATE_CATEGORY" />
        <intercept-url pattern="/admin/category/update/" access="ROLE_UPDATE_CATEGORY" />
        <intercept-url pattern="/admin/category/delete/*" access="ROLE_DELETE_CATEGORY" />
        
        <intercept-url pattern="/admin/tag" access="ROLE_READ_TAG" />
        <intercept-url pattern="/admin/tag/create/" access="ROLE_CREATE_TAG" />
        <intercept-url pattern="/admin/tag/*" access="ROLE_UPDATE_TAG" />
        <intercept-url pattern="/admin/tag/update/" access="ROLE_UPDATE_TAG" />
        <intercept-url pattern="/admin/tag/delete/*" access="ROLE_DELETE_TAG" />
        
        <intercept-url pattern="/admin/post/" access="ROLE_MARKETING" />
        <intercept-url pattern="/blog/writeBlog/" access="ROLE_MARKETING" />
        <intercept-url pattern="/blog/edit/*" access="ROLE_MARKETING" />
        <intercept-url pattern="/blog/editsubmit/*" access="ROLE_MARKETING" />
        <intercept-url pattern="/blog/grab/*" access="ROLE_MARKETING" />
        <intercept-url pattern="/blog/create-blog-post/*" access="ROLE_MARKETING" />
        <intercept-url pattern="/**" access="ROLE_ADMIN" />

        
        <logout logout-url="/authenticate/logout" logout-success-url="/" />
    </http> 
        
    <authentication-manager>
       
        
        <authentication-provider>
            
            <password-encoder ref="encoder" />
            
            <jdbc-user-service id="userService" 
                               data-source-ref="dataSource" 
                               users-by-username-query="select username, password, enable from user where username = ?" 
                               authorities-by-username-query="select u.username, ur.name from authorities a inner join 
                                user u on a.user_id = u.id inner join role r on a.role_id = r.id inner join role_user_right 
                                ru on ru.role_id = r.id inner join user_right ur on ru.user_right_id = ur.id where u.username = ?;"
            />
            
        </authentication-provider>
        
    </authentication-manager>
    
</b:beans>
